<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RichTextEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D1CBC031F1EE32B0073DC41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D1CBC161F1EE32C0073DC41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D1CBC211F1EE32C0073DC41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
